.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.client__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client__icon {
  fill: var(--icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
  .client__link:focus &,
  .client__link:hover & {
    fill: var(--second-nav-color);
  }
}

.client__link {
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  transition: border-color var(--main-time-anime) var(--main-anime);
  &:focus,
  &:hover {
    border-color: var(--second-btn-color);
  }
}
