.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter__list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.filter__item {
  margin-bottom: 8px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio__item {
  transition: box-shadow var(--main-time-anime) var(--main-anime);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translatey(100%);
  opacity: 0;
  transition: transform var(--main-time-anime) var(--main-anime),
    opacity var(--main-time-anime) var(--main-anime);
  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translatey(0);
    opacity: 1;
  }
}

.portfolio__overlay-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-logo-color);
}

.portfolio__info {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio__info-size {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 56px;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-title-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-text-color);
}
