:root {
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --main-nav-color: #212121;
  --second-nav-color: #2196f3;
  --third-nav-color: #757575;
  --main-btn-color: #f5f4fa;
  --second-btn-color: #2196f3;
  --main-btn-text-color: #212121;
  --second-btn-text-color: #ffffff;
  --advantage-bgc: #f5f4fa;
  --icon-color: #afb1b8;
  --main-anime: cubic-bezier(0.4, 0, 0.2, 1);
  --main-time-anime: 250ms;
}
